entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "server/index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 8787
externalPort = 80

[workflows]
runButton = "Start server"

[[workflows.workflow]]
name = "Start server"
mode = "sequential"
author = 41626845

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm i --prefix client && npm run build --prefix client"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm i --prefix server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"


